


<ion-header [translucent]="true">
  
</ion-header>

<ion-content>
  <div class="logo">
    <img src="/assets/nike.svg" alt="Logo">
  </div>

  <div class="tenis">
    <img src="/assets/tenis.png" alt="Tênis">
  </div>

  <div class="textos">
    <h1 class="titulo">summer <br> collections</h1>
    <h1 class="ano">2022</h1>
    <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque dolor voluptas maxime quos iste repellat, consequuntur harum expedita cumque assumenda et placeat mollitia.</p>
  </div>


  <button class="botao">Get Started  -> </button>
 

</ion-content>
