<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

  <header>
    <img class="menu" src="/assets/menu.png" alt="menu">
    <img class="logo" src="/assets/nike1.png" alt="Logo">
    <img class="usuario" src="/assets/usuario.png" alt="usuario">
  </header>

  
  <div class="cards">
    <ion-card class="card1">
      <ion-card-header>
        <img class="tenis1" src="/assets/tenis1.png" alt="">
      </ion-card-header>
    </ion-card>

    <ion-card class="card2">
      <ion-card-header>
        <img class="tenis2" src="/assets/tenis2.png" alt="">
      </ion-card-header>
    </ion-card>

    <ion-card class="card3">
      <ion-card-header>
        <img class="tenis3" src="/assets/tenis3.png" alt="">
      </ion-card-header>
    </ion-card>
  </div>

    <img class="main" src="/assets/tenismain.png" alt="Tênis Princiapl">

    <div class="textos">
        <h1 class="titulo">kyrie infinity</h1>
        <p class="subtitulo">Calçados para Basquete</p>
        <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet maiores ab voluptate eaque dolorum iusto ad optio assumenda, ducimus exercitationem maxime, quasi fuga, earum illo veritatis nihil placeat omnis facere.</p>
        <p class="preco">Preço</p>
        
    </div>


    <footer>
      <p class="valor">$ 799</p>
      <img class="share" src="/assets/share.png" alt="">
      <img class="carrinho" src="/assets/carrinho.png" alt="">
    </footer>
</ion-content>
